.slider-images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Set a fixed height for the slider images */
    overflow: hidden; /* Hide any overflow */
}

.slider-images img {
    width: 400px; /* Ensure the images take up the full width of the container */
    height: auto; /* Let the browser adjust the height to maintain aspect ratio */
}
